@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color:black;
	position: fixed;
	top: 0;
	width: 100%;
}

.home-nav {
	padding: 10px;
}

.home-nav a {
	text-decoration: none;
	color: black;
	height: 100%;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
	padding: 10px;
	display: block;
}

.navbar-links li:hover {
	background-color: cornsilk;
}

.toggle-button {
	position: absolute;
	top: 10px;
	right: 10px;
	diosplay: none;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 20px;
}

.toggle-button .bar {
	height: 3px;
	width: 75%;
	background-color: black;
	border-radius: 5px;
}





body {
	background-color: antiquewhite;
	margin: 0;
	padding: 0;
}

.profile-info {
    display: grid;
	margin-left: auto;
	margin-right: auto;
    grid-template-columns: 2fr 1fr 3fr;
    grid-gap: 20px;
}

.profile-image {
	display: grid;
	justify-content: center;
}

.profile-image img {
	width: 100%;
}

.profile-icons {
	display: flex;
  	justify-content: center;
}

.profile-icons a {
	padding: 5px;
}

.picture-grid {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 10px;
	grid-row-gap: 0px;
}


.grid-box img {
	width: 100%;
}

.central-content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 75%;
	background-color: rgba(255,255,255,.5);
	padding: 10px;
	max-width: 1100px;
}

@media (Max-width: 600px) {
	.toggle-button{
		display: flex;
	}
	
	.navbar-links {
		display: none;
		width: 100%;
	}
	
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}
	
	.navbar-links li {
		text-align: center;
	}
	
	.navbar-links li a {
		padding: 5px;
	}
	
	.navbar-links.active {
		display: flex;
	}
	
	.profile-spacer {
		display: none;
	}
	
	.profile-images {
		grid-template-columns: 1fr 2fr;
	}
	
}
