@charset "utf-8";
/* CSS Document */

body {
	background-color: antiquewhite;
	margin: 0;
	padding: 0;
}

.ask-me {
	display: block;
	margin: auto;
	padding: 30px;
	border: 5px solid white;
	width: 90%;
	max-width: 500px;
	min-width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ask-me * {
	margin: auto;
}

#details {
	height: 75px;
}