@charset "utf-8";
/* CSS Document */

body {
	background-color: rgb(247,224,192);
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.heading-title {
	margin-top: 50px;
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	text-align: center;

   color: black;
   -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: rgba(157,54,21, .75);

}



.links-list {
	padding: 10px;
	padding-top: 0px;
	max-width: 400px;
	display: block;
	margin: auto;
}

.featured-link {
	border: 5px solid white;
	padding: 10px;
	display: flex;
	border-radius: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: rgba(157,54,21, .8);
}

.featured-link:hover {
	border: 5px solid rgb(157,54,21);
}

.link-icon {
	border: 3px solid white;
	padding: 10px;
	margin: auto;
	width: 25%;
	border-radius: 20px;
	min-width: 100px;
	text-align: center;
	color: rgb(157,54,21);
	background-color: rgba(250,235,215, .5);
}

.link-name {
	padding: 10px;
	width: 75%;
	text-align: left;
	object-fit: contain;
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	color: white;
}

