@charset "utf-8";
/* CSS Document */

body {
	background-color: rgb(247,224,192);
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}


.profile-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1em;
}

.profile-images img {
	width: 100%;	
}


.profile-name {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
}

.profile-description {
	font-family: 'Abel', sans-serif;
	font-size: 1.2em;
}

.profile-icons {
	display: flex;
  	justify-content: center;
}

.profile-icons a {
	padding: 5px;
}

.modal-btn {
	font-family: 'Abel', sans-serif;
	font-size: 1.2em;
	background-color: rgb(247,224,192);
	border: none;
	color: rgb(157,54,21);
}


.picture-grid {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	grid-gap: 10px;
	grid-row-gap: 0px;
}


.grid-box img {
	width: 100%;
	border: 5px solid rgba(255, 255, 255, .75);
}

.grid-box img:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 5px solid rgba(157,54,21, 0.75);
}

.central-content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 75%;
	/*background-color: rgba(255,255,255,.5);*/
	padding: 10px;
	max-width: 1100px;
}


.modal-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s opacity 0.5s;
}

.bg-active {
	visibility: visible;
	opacity: 1;
}

.modal {
	position: relative;
	background-color: white;
	width: 95%;
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	max-width: 500px;
	max-height: 500px;
}


.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modal table, th, td {
	border: 1px solid black;
}

.modal table {
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
}

.modal p {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.2em;
}

.modal th {
	font-family: 'Abel', sans-serif;
	font-size: 1.2em;
	padding: 5px;
}

.modal td {
	font-family: 'Abel', sans-serif;
	font-size: 1.2em;
	padding: 5px;
}

@media (Max-width: 600px) {
	
}