@charset "utf-8";
/* CSS Document */

@media (Max-width: 600px) {
	
	
}

body {
	background-color: antiquewhite;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.outfit-image img {
	display: block;
	margin: auto;
	width: 75%;
	max-width: 500px;
}


.outfit-links {
	border: 1px solid red;
	padding: 10px;
	max-width: 400px;
	display: block;
	margin: auto;
}

.item-link {
	border: 1px solid blue;
	padding: 10px;
	display: flex;
	border-radius: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.item-category {
	border: 1px solid black;
	padding: 10px;
	margin: auto;
	width: 25%;
	border-radius: 20px;
	min-width: 100px;
	text-align: center;
}

.item-name {
	padding: 10px;
	width: 75%;
	text-align: left;
	object-fit: contain;
}