@charset "utf-8";
/* CSS Document */

@media (Max-width: 600px) {
	
	
}

body {
	background-color: rgb(247,224,192);
	margin: 0;
	padding: 0;
}


a {
	text-decoration: none;
	color: black;
}

main h1 {
	margin-top: 50px;
	font-family: 'Permanent Marker', cursive;
	font-size: 3em;
	text-align: center;

   color: black;
   -webkit-text-fill-color: white; 
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: rgba(157,54,21, .75);
}

.outfit-image img {
	display: block;
	margin: auto;
	width: 75%;
	max-width: 500px;
	border: 5px solid white;
}


.outfit-links {
	padding: 10px;
	max-width: 400px;
	display: block;
	margin: auto;
}

.item-link {
	border: 5px solid white;
	padding: 10px;
	display: flex;
	border-radius: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: rgba(157,54,21, .8);
}

.item-link:hover {
	border: 5px solid rgb(157,54,21);
}

.item-category {
	border: 3px solid white;
	padding: 10px;
	margin: auto;
	width: 25%;
	border-radius: 20px;
	min-width: 110px;
	text-align: center;
	color: rgb(157,54,21);
	font-family: 'Permanent Marker', cursive;
	font-size: 1.2em;
	background-color: rgba(250,235,215, .5);
}

.item-name {
	padding: 10px;
	width: 75%;
	text-align: left;
	object-fit: contain;
	font-family: 'Abel', sans-serif;
	font-size: 1.3em;
	color: white;
	margin: auto;
}

.footer-home {
	display: block;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
}

.footer-home:hover {
	color: rgb(157,54,21);
}

.footer-credit {
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 1em;
}